@model Laboratorio_01_Implementación_y_análisis_de_estructuras__lineales.Models.Jugadores

@{
    ViewData["Title"] = "Time";
}


<div class="text-center">
    <h1 style="color: darkblue;" class="display-4">TIME</h1>

</div>

<div class="text-center">
    <h1 class="col-sm-10">""/h1>

</div>
<dt class="col-sm-2">
    @Html.DisplayText(Laboratorio_01_Implementación_y_análisis_de_estructuras__lineales.Controllers.Player.elapsedTime)
</dt>